// Specific CSS for your home-page
h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 64px;
}
h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 36px;

  color: #EA526F;
}

p {
  color: black;
}
