.top-picture {
  height: 400px;
  background-position: top;
  background-size: cover;
}

.margin-top-negative {
  margin-top: -95px;
}

#first-card {

}

.container-n {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

.task-show-card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    border-radius: 3px;
}

.button-blue {
  background-color:  #25CED1;
  color: white;
}

.button-pink {
  background-color:  #EA526F;
  color: white;
}

.link-su {
  color: #25CED1;
}

.link-su:hover {
    text-decoration: none;
    color: lightgray;
}

.link-pw {
  color: grey;
}

.link-pw:hover {
  text-decoration: none;
  color: lightgray;
}
