<div class="container">
  <div class="container">
    <h2>Edit Task</h2>
  </div>
  <%= render 'form', task: @task %>

  <hr>
  <%= link_to tasks_path do %>
    <i class="fa fa-history"></i> Back to list
  <% end %>
</div>
