<div class="banner" style="background-image: linear-gradient(105.2deg, #000000 -86.12%, rgba(0, 0, 0, 0) 99.98%), url(<%= image_path "woman-girl-rain.jpg"%>);">
  <div class="banner-content">
    <h1>A Good <br>   Deed</h1>
    <p>Build a strong community, help one another</p>
    <a class="btn btn-primary btn-lg">This will be a search bar ...</a>
  </div>
</div>

<div class="container">
  <h1>Tasks</h1>
  <% @tasks.each do |task| %>
  <div class="card">
    <h2><%= link_to(task.title, task_path(task)) %></h2>
    <p><%= task.description %></p>
  </div>
  <% end %>
</div>
