<div class="banner" style="background-image: url(<%= image_path "woman-girl-rain.jpg"%>);">
  <div class="banner-content">
    <h1>Le Wagon Berlin</h1>
    <p>Learn to code with us in Berlin</p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
</div>

<div class="container">
  <h1>Tasks</h1>
  <% @tasks.each do |task| %>
  <div class="card">
    <h2><%= task.title %></h2>
    <p><%= task.description %></p>
  </div>
  <% end %>
</div>
