<div class="banner" style="background-image: linear-gradient(105.2deg, #000000 -86.12%, rgba(0, 0, 0, 0) 99.98%), url(<%= image_path "woman-girl-rain.jpg"%>);">
  <div class="banner-content">
    <h1>A Good <br>   Deed</h1>
    <p>Build a strong community, help one another</p>
    <a class="btn btn-primary btn-lg">This will be a search bar ...</a>
  </div>
</div>

<div class="container">
  <h1>Explore our needers tasks ...</h1>
  <div class="row">
  <% @tasks.each do |task| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card-gd">
        <h2><%= link_to task.title, task_path(task), style: 'font-family: Poppins, sans-serif; font-style: normal; font-weight: 500; line-height: normal; font-size: 36px; text-align: right; color: #EA526F;' %></h2>
        <p><%= task.description %></p>
      </div>
    </div>
  <% end %>
  </div>
<div class="container">


      <!-- insert <div class="card"> -->
