<div class="container pt-3">
  <div class = "container">
  <h2>New task</h2>
  </div>
  <%= render 'form', task: @task %>

  <hr>
  <%= link_to tasks_path do %>
    <i class="fa fa-history"></i> Back to list
  <% end %>
</div>
